* {
  font-family: 'Open Sans', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: $bsColor #fff;
  transition: all .3s;
  &::-webkit-scrollbar {
    width: 6px !important;
    transition: all .3s;
  }
  &::-webkit-scrollbar-track {
    background-color: #fff !important;
    transition: all .3s;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $bsColor !important;
  }
  * {
    font-family: 'Open Sans', sans-serif;
  }
}

.ispage-enter-active,
.ispage-leave-active,
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.ispage-enter,
.ispage-leave-to {
  opacity: 0;
  transform: scale(.99);
}

.layout-enter,
.layout-leave-to {
  opacity: 0;
  -webkit-transform: translate3d(15px, 0px, 0px);
  -moz-transform: translate3d(15px, 0px, 0px);
  -ms-transform: translate3d(15px, 0px, 0px);
  -o-transform: translate3d(15px, 0px, 0px);
  transform: translate3d(15px, 0px, 0px);
}

